In [15]:
from assets import models
import pandas as pd

from assets.database import db_session

In [16]:
df = pd.read_csv('assets/data.csv')

In [17]:
df['date'][0]

'2019/1/17'

In [18]:
import datetime

In [19]:
df.iloc[0,0]

'2019/1/17'

In [21]:
date = datetime.datetime.strptime(df.iloc[0,0],'%Y/%m/%d').date()
date

datetime.date(2019, 1, 17)

In [25]:
for index,_df in df.iterrows():
    date = datetime.datetime.strptime(_df['date'],'%Y/%m/%d').date()
    row = models.Data(date=date, subscribers=_df['subscribers'], reviews=_df['reviews'])
    db_session.add(row)
db_session.commit()

2020-03-11 16:49:46,218 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-03-11 16:49:46,218 INFO sqlalchemy.engine.base.Engine ()
2020-03-11 16:49:46,219 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-03-11 16:49:46,220 INFO sqlalchemy.engine.base.Engine ()
2020-03-11 16:49:46,221 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-03-11 16:49:46,229 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,229 INFO sqlalchemy.engine.base.Engine ('2019-01-17', 2671, 194, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,231 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,232 INFO sqlalchemy.engine.base.Engine ('2019-01-18', 2671, 195, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,232 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,233 INFO sqlalchemy.engine.base.Engine ('2019-01-19', 2674, 197, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,234 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,235 INFO sqlalchemy.engine.base.Engine ('2019-01-20', 2685, 199, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,236 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,237 INFO sqlalchemy.engine.base.Engine ('2019-01-21', 2695, 199, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,238 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,239 INFO sqlalchemy.engine.base.Engine ('2019-01-22', 2701, 200, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,240 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,241 INFO sqlalchemy.engine.base.Engine ('2019-01-23', 2710, 200, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,242 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,243 INFO sqlalchemy.engine.base.Engine ('2019-01-24', 2718, 201, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,243 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,244 INFO sqlalchemy.engine.base.Engine ('2019-01-25', 2722, 201, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,246 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,246 INFO sqlalchemy.engine.base.Engine ('2019-01-26', 2725, 201, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,247 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,248 INFO sqlalchemy.engine.base.Engine ('2019-01-27', 2734, 202, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,249 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,250 INFO sqlalchemy.engine.base.Engine ('2019-01-28', 2753, 204, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,251 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,252 INFO sqlalchemy.engine.base.Engine ('2019-01-29', 2773, 206, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,253 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,254 INFO sqlalchemy.engine.base.Engine ('2019-01-30', 2785, 208, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,255 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,256 INFO sqlalchemy.engine.base.Engine ('2019-01-31', 2803, 210, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,256 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,258 INFO sqlalchemy.engine.base.Engine ('2019-02-01', 2845, 211, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,259 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,260 INFO sqlalchemy.engine.base.Engine ('2019-02-02', 2847, 213, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,261 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,262 INFO sqlalchemy.engine.base.Engine ('2019-02-03', 2847, 213, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,263 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,264 INFO sqlalchemy.engine.base.Engine ('2019-02-04', 2851, 217, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,265 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,266 INFO sqlalchemy.engine.base.Engine ('2019-02-05', 2852, 218, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,267 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,268 INFO sqlalchemy.engine.base.Engine ('2019-02-06', 2857, 219, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,269 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,271 INFO sqlalchemy.engine.base.Engine ('2019-02-07', 2861, 220, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,272 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,273 INFO sqlalchemy.engine.base.Engine ('2019-02-08', 2865, 222, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,274 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,275 INFO sqlalchemy.engine.base.Engine ('2019-02-09', 2870, 224, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,276 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,278 INFO sqlalchemy.engine.base.Engine ('2019-02-10', 2875, 224, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,280 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,281 INFO sqlalchemy.engine.base.Engine ('2019-02-11', 2892, 227, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,282 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,283 INFO sqlalchemy.engine.base.Engine ('2019-02-12', 2906, 229, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,284 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,285 INFO sqlalchemy.engine.base.Engine ('2019-02-13', 2919, 229, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,286 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,287 INFO sqlalchemy.engine.base.Engine ('2019-02-14', 2942, 231, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,288 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,289 INFO sqlalchemy.engine.base.Engine ('2019-02-15', 2974, 232, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,290 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,291 INFO sqlalchemy.engine.base.Engine ('2019-02-16', 2977, 234, '2020-03-11 16:38:13.843948')

2020-03-11 16:49:46,292 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,293 INFO sqlalchemy.engine.base.Engine ('2019-02-17', 2978, 234, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,294 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,295 INFO sqlalchemy.engine.base.Engine ('2019-02-18', 2981, 234, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,296 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,298 INFO sqlalchemy.engine.base.Engine ('2019-02-19', 2983, 234, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,299 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,300 INFO sqlalchemy.engine.base.Engine ('2019-02-20', 2984, 237, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,301 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,302 INFO sqlalchemy.engine.base.Engine ('2019-02-21', 2987, 239, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,303 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,304 INFO sqlalchemy.engine.base.Engine ('2019-02-22', 2989, 239, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,306 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,306 INFO sqlalchemy.engine.base.Engine ('2019-02-23', 2993, 241, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,308 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,310 INFO sqlalchemy.engine.base.Engine ('2019-02-24', 2995, 241, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,312 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,313 INFO sqlalchemy.engine.base.Engine ('2019-02-25', 3009, 241, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,314 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,315 INFO sqlalchemy.engine.base.Engine ('2019-02-26', 3014, 243, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,316 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,317 INFO sqlalchemy.engine.base.Engine ('2019-02-27', 3023, 243, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,318 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,319 INFO sqlalchemy.engine.base.Engine ('2019-02-28', 3031, 243, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,320 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,321 INFO sqlalchemy.engine.base.Engine ('2019-03-01', 3052, 244, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,323 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,326 INFO sqlalchemy.engine.base.Engine ('2019-03-02', 3060, 245, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,327 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,328 INFO sqlalchemy.engine.base.Engine ('2019-03-03', 3062, 246, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,329 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,331 INFO sqlalchemy.engine.base.Engine ('2019-03-04', 3063, 249, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,333 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,334 INFO sqlalchemy.engine.base.Engine ('2019-03-05', 3066, 252, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,336 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,338 INFO sqlalchemy.engine.base.Engine ('2019-03-06', 3071, 254, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,342 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,343 INFO sqlalchemy.engine.base.Engine ('2019-03-07', 3074, 255, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,344 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,346 INFO sqlalchemy.engine.base.Engine ('2019-03-08', 3076, 256, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,347 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,348 INFO sqlalchemy.engine.base.Engine ('2019-03-09', 3077, 258, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,350 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,352 INFO sqlalchemy.engine.base.Engine ('2019-03-10', 3080, 258, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,355 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,355 INFO sqlalchemy.engine.base.Engine ('2019-03-11', 3087, 261, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,357 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,358 INFO sqlalchemy.engine.base.Engine ('2019-03-12', 3089, 261, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,360 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,361 INFO sqlalchemy.engine.base.Engine ('2019-03-13', 3093, 262, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,362 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,362 INFO sqlalchemy.engine.base.Engine ('2019-03-14', 3098, 262, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,363 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,364 INFO sqlalchemy.engine.base.Engine ('2019-03-15', 3104, 262, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,364 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,365 INFO sqlalchemy.engine.base.Engine ('2019-03-16', 3112, 262, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,367 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,367 INFO sqlalchemy.engine.base.Engine ('2019-03-17', 3120, 262, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,369 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,370 INFO sqlalchemy.engine.base.Engine ('2019-03-18', 3131, 265, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,371 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,371 INFO sqlalchemy.engine.base.Engine ('2019-03-19', 3142, 266, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,372 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,373 INFO sqlalchemy.engine.base.Engine ('2019-03-20', 3162, 266, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,374 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,374 INFO sqlalchemy.engine.base.Engine ('2019-03-21', 3173, 268, '2020-03-11 16:38:13.843948')

2020-03-11 16:49:46,375 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,376 INFO sqlalchemy.engine.base.Engine ('2019-03-22', 3180, 269, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,377 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,378 INFO sqlalchemy.engine.base.Engine ('2019-03-23', 3187, 271, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,379 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,380 INFO sqlalchemy.engine.base.Engine ('2019-03-24', 3189, 271, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,381 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,382 INFO sqlalchemy.engine.base.Engine ('2019-03-25', 3196, 274, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,383 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,383 INFO sqlalchemy.engine.base.Engine ('2019-03-26', 3212, 274, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,385 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,411 INFO sqlalchemy.engine.base.Engine ('2019-03-27', 3220, 274, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,414 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,415 INFO sqlalchemy.engine.base.Engine ('2019-03-28', 3226, 275, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,417 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,418 INFO sqlalchemy.engine.base.Engine ('2019-03-29', 3241, 275, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,419 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,420 INFO sqlalchemy.engine.base.Engine ('2019-03-30', 3253, 278, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,422 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,425 INFO sqlalchemy.engine.base.Engine ('2019-03-31', 3255, 278, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,427 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,430 INFO sqlalchemy.engine.base.Engine ('2019-04-01', 3258, 280, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,436 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,438 INFO sqlalchemy.engine.base.Engine ('2019-04-02', 3262, 282, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,439 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,440 INFO sqlalchemy.engine.base.Engine ('2019-04-03', 3264, 282, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,441 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,442 INFO sqlalchemy.engine.base.Engine ('2019-04-04', 3272, 282, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,443 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,444 INFO sqlalchemy.engine.base.Engine ('2019-04-05', 3275, 284, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,445 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,446 INFO sqlalchemy.engine.base.Engine ('2019-04-06', 3276, 287, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,448 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,449 INFO sqlalchemy.engine.base.Engine ('2019-04-07', 3279, 289, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,450 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,451 INFO sqlalchemy.engine.base.Engine ('2019-04-08', 3285, 289, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,453 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,454 INFO sqlalchemy.engine.base.Engine ('2019-04-09', 3300, 291, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,455 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,457 INFO sqlalchemy.engine.base.Engine ('2019-04-10', 3306, 293, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,458 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,461 INFO sqlalchemy.engine.base.Engine ('2019-04-11', 3312, 295, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,462 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,464 INFO sqlalchemy.engine.base.Engine ('2019-04-12', 3319, 295, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,465 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,466 INFO sqlalchemy.engine.base.Engine ('2019-04-13', 3324, 295, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,467 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,468 INFO sqlalchemy.engine.base.Engine ('2019-04-14', 3325, 297, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,470 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,471 INFO sqlalchemy.engine.base.Engine ('2019-04-15', 3329, 298, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,472 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,473 INFO sqlalchemy.engine.base.Engine ('2019-04-16', 3331, 299, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,474 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,476 INFO sqlalchemy.engine.base.Engine ('2019-04-17', 3332, 299, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,477 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,478 INFO sqlalchemy.engine.base.Engine ('2019-04-18', 3333, 299, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,479 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,480 INFO sqlalchemy.engine.base.Engine ('2019-04-19', 3336, 299, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,481 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,482 INFO sqlalchemy.engine.base.Engine ('2019-04-20', 3339, 299, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,484 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,485 INFO sqlalchemy.engine.base.Engine ('2019-04-21', 3343, 300, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,487 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,488 INFO sqlalchemy.engine.base.Engine ('2019-04-22', 3349, 302, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,489 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,490 INFO sqlalchemy.engine.base.Engine ('2019-04-23', 3357, 303, '2020-03-11 16:38:13.843948')

2020-03-11 16:49:46,491 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,493 INFO sqlalchemy.engine.base.Engine ('2019-04-24', 3370, 303, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,494 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,495 INFO sqlalchemy.engine.base.Engine ('2019-04-25', 3388, 304, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,497 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,500 INFO sqlalchemy.engine.base.Engine ('2019-04-26', 3412, 304, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,501 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,505 INFO sqlalchemy.engine.base.Engine ('2019-04-27', 3437, 305, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,508 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,510 INFO sqlalchemy.engine.base.Engine ('2019-04-28', 3439, 305, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,511 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,512 INFO sqlalchemy.engine.base.Engine ('2019-04-29', 3440, 308, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,513 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,514 INFO sqlalchemy.engine.base.Engine ('2019-04-30', 3447, 309, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,515 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,516 INFO sqlalchemy.engine.base.Engine ('2019-05-01', 3466, 310, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,517 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,519 INFO sqlalchemy.engine.base.Engine ('2019-05-02', 3481, 311, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,520 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,520 INFO sqlalchemy.engine.base.Engine ('2019-05-03', 3504, 314, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,521 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,522 INFO sqlalchemy.engine.base.Engine ('2019-05-04', 3522, 317, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,523 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,524 INFO sqlalchemy.engine.base.Engine ('2019-05-05', 3527, 322, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,525 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,526 INFO sqlalchemy.engine.base.Engine ('2019-05-06', 3533, 324, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,527 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,528 INFO sqlalchemy.engine.base.Engine ('2019-05-07', 3543, 327, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,529 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,529 INFO sqlalchemy.engine.base.Engine ('2019-05-08', 3546, 328, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,530 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,531 INFO sqlalchemy.engine.base.Engine ('2019-05-09', 3555, 330, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,532 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,533 INFO sqlalchemy.engine.base.Engine ('2019-05-10', 3566, 332, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,534 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,534 INFO sqlalchemy.engine.base.Engine ('2019-05-11', 3583, 334, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,535 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,536 INFO sqlalchemy.engine.base.Engine ('2019-05-12', 3594, 335, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,537 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,537 INFO sqlalchemy.engine.base.Engine ('2019-05-13', 3614, 338, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,539 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,539 INFO sqlalchemy.engine.base.Engine ('2019-05-14', 3633, 340, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,540 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,541 INFO sqlalchemy.engine.base.Engine ('2019-05-15', 3647, 344, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,542 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,543 INFO sqlalchemy.engine.base.Engine ('2019-05-16', 3648, 349, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,544 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,544 INFO sqlalchemy.engine.base.Engine ('2019-05-17', 3649, 349, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,545 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,546 INFO sqlalchemy.engine.base.Engine ('2019-05-18', 3651, 351, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,547 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,547 INFO sqlalchemy.engine.base.Engine ('2019-05-19', 3654, 351, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,548 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,549 INFO sqlalchemy.engine.base.Engine ('2019-05-20', 3658, 354, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,550 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,551 INFO sqlalchemy.engine.base.Engine ('2019-05-21', 3671, 354, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,552 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,552 INFO sqlalchemy.engine.base.Engine ('2019-05-22', 3675, 359, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,554 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,554 INFO sqlalchemy.engine.base.Engine ('2019-05-23', 3681, 359, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,555 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,556 INFO sqlalchemy.engine.base.Engine ('2019-05-24', 3694, 361, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,557 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,557 INFO sqlalchemy.engine.base.Engine ('2019-05-25', 3699, 361, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,558 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,559 INFO sqlalchemy.engine.base.Engine ('2019-05-26', 3711, 364, '2020-03-11 16:38:13.843948')

2020-03-11 16:49:46,560 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,561 INFO sqlalchemy.engine.base.Engine ('2019-05-27', 3722, 368, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,562 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,563 INFO sqlalchemy.engine.base.Engine ('2019-05-28', 3734, 373, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,565 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,566 INFO sqlalchemy.engine.base.Engine ('2019-05-29', 3766, 374, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,567 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,568 INFO sqlalchemy.engine.base.Engine ('2019-05-30', 3781, 375, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,569 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,570 INFO sqlalchemy.engine.base.Engine ('2019-05-31', 3784, 375, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,571 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,572 INFO sqlalchemy.engine.base.Engine ('2019-06-01', 3789, 378, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,572 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,573 INFO sqlalchemy.engine.base.Engine ('2019-06-02', 3790, 379, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,574 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,575 INFO sqlalchemy.engine.base.Engine ('2019-06-03', 3793, 380, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,576 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,576 INFO sqlalchemy.engine.base.Engine ('2019-06-04', 3795, 383, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,577 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,578 INFO sqlalchemy.engine.base.Engine ('2019-06-05', 3808, 385, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,579 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,579 INFO sqlalchemy.engine.base.Engine ('2019-06-06', 3830, 386, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,580 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,581 INFO sqlalchemy.engine.base.Engine ('2019-06-07', 3843, 387, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,582 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,583 INFO sqlalchemy.engine.base.Engine ('2019-06-08', 3857, 390, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,584 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,585 INFO sqlalchemy.engine.base.Engine ('2019-06-09', 3870, 394, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,586 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,586 INFO sqlalchemy.engine.base.Engine ('2019-06-10', 3895, 395, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,587 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,588 INFO sqlalchemy.engine.base.Engine ('2019-06-11', 3919, 397, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,589 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,590 INFO sqlalchemy.engine.base.Engine ('2019-06-12', 3942, 399, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,591 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,591 INFO sqlalchemy.engine.base.Engine ('2019-06-13', 3983, 402, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,592 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,594 INFO sqlalchemy.engine.base.Engine ('2019-06-14', 4022, 404, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,595 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,595 INFO sqlalchemy.engine.base.Engine ('2019-06-15', 4053, 409, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,597 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,597 INFO sqlalchemy.engine.base.Engine ('2019-06-16', 4058, 410, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,598 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,599 INFO sqlalchemy.engine.base.Engine ('2019-06-17', 4063, 414, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,600 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,601 INFO sqlalchemy.engine.base.Engine ('2019-06-18', 4064, 417, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,602 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,602 INFO sqlalchemy.engine.base.Engine ('2019-06-19', 4065, 422, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,604 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,605 INFO sqlalchemy.engine.base.Engine ('2019-06-20', 4066, 424, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,606 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,607 INFO sqlalchemy.engine.base.Engine ('2019-06-21', 4069, 425, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,608 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,609 INFO sqlalchemy.engine.base.Engine ('2019-06-22', 4070, 426, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,610 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,610 INFO sqlalchemy.engine.base.Engine ('2019-06-23', 4073, 427, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,611 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,612 INFO sqlalchemy.engine.base.Engine ('2019-06-24', 4084, 427, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,613 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,614 INFO sqlalchemy.engine.base.Engine ('2019-06-25', 4108, 427, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,614 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,615 INFO sqlalchemy.engine.base.Engine ('2019-06-26', 4122, 433, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,616 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,617 INFO sqlalchemy.engine.base.Engine ('2019-06-27', 4132, 436, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,618 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,619 INFO sqlalchemy.engine.base.Engine ('2019-06-28', 4150, 440, '2020-03-11 16:38:13.843948')

2020-03-11 16:49:46,620 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,620 INFO sqlalchemy.engine.base.Engine ('2019-06-29', 4162, 440, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,621 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,622 INFO sqlalchemy.engine.base.Engine ('2019-06-30', 4164, 446, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,623 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,624 INFO sqlalchemy.engine.base.Engine ('2019-07-01', 4167, 448, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,624 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,625 INFO sqlalchemy.engine.base.Engine ('2019-07-02', 4174, 450, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,626 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,627 INFO sqlalchemy.engine.base.Engine ('2019-07-03', 4179, 455, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,628 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,628 INFO sqlalchemy.engine.base.Engine ('2019-07-04', 4187, 456, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,629 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,630 INFO sqlalchemy.engine.base.Engine ('2019-07-05', 4200, 456, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,631 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,631 INFO sqlalchemy.engine.base.Engine ('2019-07-06', 4210, 458, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,632 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,633 INFO sqlalchemy.engine.base.Engine ('2019-07-07', 4211, 458, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,634 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,635 INFO sqlalchemy.engine.base.Engine ('2019-07-08', 4214, 464, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,636 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,637 INFO sqlalchemy.engine.base.Engine ('2019-07-09', 4219, 464, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,638 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,638 INFO sqlalchemy.engine.base.Engine ('2019-07-10', 4223, 468, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,639 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,639 INFO sqlalchemy.engine.base.Engine ('2019-07-11', 4228, 469, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,640 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,641 INFO sqlalchemy.engine.base.Engine ('2019-07-12', 4236, 469, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,641 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,642 INFO sqlalchemy.engine.base.Engine ('2019-07-13', 4239, 471, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,643 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,644 INFO sqlalchemy.engine.base.Engine ('2019-07-14', 4243, 471, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,645 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,645 INFO sqlalchemy.engine.base.Engine ('2019-07-15', 4250, 473, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,646 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,647 INFO sqlalchemy.engine.base.Engine ('2019-07-16', 4265, 476, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,648 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,649 INFO sqlalchemy.engine.base.Engine ('2019-07-17', 4288, 476, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,650 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,651 INFO sqlalchemy.engine.base.Engine ('2019-07-18', 4313, 483, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,652 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,653 INFO sqlalchemy.engine.base.Engine ('2019-07-19', 4329, 483, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,654 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,654 INFO sqlalchemy.engine.base.Engine ('2019-07-20', 4329, 486, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,655 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,656 INFO sqlalchemy.engine.base.Engine ('2019-07-21', 4329, 487, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,658 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,659 INFO sqlalchemy.engine.base.Engine ('2019-07-22', 4333, 492, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,659 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,660 INFO sqlalchemy.engine.base.Engine ('2019-07-23', 4335, 493, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,661 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,661 INFO sqlalchemy.engine.base.Engine ('2019-07-24', 4353, 494, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,662 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,663 INFO sqlalchemy.engine.base.Engine ('2019-07-25', 4370, 496, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,663 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,664 INFO sqlalchemy.engine.base.Engine ('2019-07-26', 4397, 500, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,665 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,666 INFO sqlalchemy.engine.base.Engine ('2019-07-27', 4419, 504, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,667 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,668 INFO sqlalchemy.engine.base.Engine ('2019-07-28', 4422, 507, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,669 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,670 INFO sqlalchemy.engine.base.Engine ('2019-07-29', 4423, 513, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,671 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,673 INFO sqlalchemy.engine.base.Engine ('2019-07-30', 4425, 516, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,675 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,675 INFO sqlalchemy.engine.base.Engine ('2019-07-31', 4427, 518, '2020-03-11 16:38:13.843948')

2020-03-11 16:49:46,676 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,677 INFO sqlalchemy.engine.base.Engine ('2019-08-01', 4432, 519, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,678 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,679 INFO sqlalchemy.engine.base.Engine ('2019-08-02', 4433, 520, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,680 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,681 INFO sqlalchemy.engine.base.Engine ('2019-08-03', 4435, 522, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,682 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,683 INFO sqlalchemy.engine.base.Engine ('2019-08-04', 4437, 522, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,684 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,685 INFO sqlalchemy.engine.base.Engine ('2019-08-05', 4440, 526, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,686 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,687 INFO sqlalchemy.engine.base.Engine ('2019-08-06', 4444, 528, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,688 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,690 INFO sqlalchemy.engine.base.Engine ('2019-08-07', 4452, 528, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,691 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,692 INFO sqlalchemy.engine.base.Engine ('2019-08-08', 4466, 529, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,693 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,693 INFO sqlalchemy.engine.base.Engine ('2019-08-09', 4493, 529, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,694 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,695 INFO sqlalchemy.engine.base.Engine ('2019-08-10', 4521, 530, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,696 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,697 INFO sqlalchemy.engine.base.Engine ('2019-08-11', 4528, 531, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,698 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,698 INFO sqlalchemy.engine.base.Engine ('2019-08-12', 4529, 533, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,700 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,700 INFO sqlalchemy.engine.base.Engine ('2019-08-13', 4532, 534, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,701 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,702 INFO sqlalchemy.engine.base.Engine ('2019-08-14', 4534, 537, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,703 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,704 INFO sqlalchemy.engine.base.Engine ('2019-08-15', 4535, 537, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,705 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,706 INFO sqlalchemy.engine.base.Engine ('2019-08-16', 4539, 539, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,707 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,708 INFO sqlalchemy.engine.base.Engine ('2019-08-17', 4539, 540, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,709 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,709 INFO sqlalchemy.engine.base.Engine ('2019-08-18', 4541, 541, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,710 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,711 INFO sqlalchemy.engine.base.Engine ('2019-08-19', 4545, 544, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,712 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,713 INFO sqlalchemy.engine.base.Engine ('2019-08-20', 4545, 545, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,714 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,715 INFO sqlalchemy.engine.base.Engine ('2019-08-21', 4561, 548, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,716 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,717 INFO sqlalchemy.engine.base.Engine ('2019-08-22', 4590, 549, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,718 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,719 INFO sqlalchemy.engine.base.Engine ('2019-08-23', 4624, 549, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,720 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,720 INFO sqlalchemy.engine.base.Engine ('2019-08-24', 4641, 552, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,722 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,722 INFO sqlalchemy.engine.base.Engine ('2019-08-25', 4665, 554, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,723 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,724 INFO sqlalchemy.engine.base.Engine ('2019-08-26', 4702, 557, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,725 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,725 INFO sqlalchemy.engine.base.Engine ('2019-08-27', 4730, 561, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,726 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,727 INFO sqlalchemy.engine.base.Engine ('2019-08-28', 4761, 564, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,783 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,784 INFO sqlalchemy.engine.base.Engine ('2019-08-29', 4793, 566, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,785 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,786 INFO sqlalchemy.engine.base.Engine ('2019-08-30', 4846, 566, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,787 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,788 INFO sqlalchemy.engine.base.Engine ('2019-08-31', 4878, 571, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,789 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,789 INFO sqlalchemy.engine.base.Engine ('2019-09-01', 4884, 572, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,790 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,791 INFO sqlalchemy.engine.base.Engine ('2019-09-02', 4888, 573, '2020-03-11 16:38:13.843948')

2020-03-11 16:49:46,792 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,793 INFO sqlalchemy.engine.base.Engine ('2019-09-03', 4887, 574, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,794 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,794 INFO sqlalchemy.engine.base.Engine ('2019-09-04', 4888, 575, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,795 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,796 INFO sqlalchemy.engine.base.Engine ('2019-09-05', 4890, 577, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,797 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,798 INFO sqlalchemy.engine.base.Engine ('2019-09-06', 4892, 577, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,799 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,800 INFO sqlalchemy.engine.base.Engine ('2019-09-07', 4894, 578, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,801 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,802 INFO sqlalchemy.engine.base.Engine ('2019-09-08', 4896, 578, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,803 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,804 INFO sqlalchemy.engine.base.Engine ('2019-09-09', 4907, 579, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,804 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,805 INFO sqlalchemy.engine.base.Engine ('2019-09-10', 4918, 581, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,806 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,807 INFO sqlalchemy.engine.base.Engine ('2019-09-11', 4935, 583, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,807 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,808 INFO sqlalchemy.engine.base.Engine ('2019-09-12', 4949, 583, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,808 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,809 INFO sqlalchemy.engine.base.Engine ('2019-09-13', 4965, 584, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,810 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,810 INFO sqlalchemy.engine.base.Engine ('2019-09-14', 4966, 587, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,811 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,811 INFO sqlalchemy.engine.base.Engine ('2019-09-15', 4966, 587, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,812 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,813 INFO sqlalchemy.engine.base.Engine ('2019-09-16', 4970, 590, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,814 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,814 INFO sqlalchemy.engine.base.Engine ('2019-09-17', 4972, 590, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,815 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,816 INFO sqlalchemy.engine.base.Engine ('2019-09-18', 4974, 592, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,818 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,818 INFO sqlalchemy.engine.base.Engine ('2019-09-19', 4996, 596, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,819 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,820 INFO sqlalchemy.engine.base.Engine ('2019-09-20', 4998, 601, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,821 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,821 INFO sqlalchemy.engine.base.Engine ('2019-09-21', 5001, 601, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,822 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,823 INFO sqlalchemy.engine.base.Engine ('2019-09-22', 5004, 603, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,824 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,825 INFO sqlalchemy.engine.base.Engine ('2019-09-23', 5005, 605, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,826 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,827 INFO sqlalchemy.engine.base.Engine ('2019-09-24', 5012, 605, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,827 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,828 INFO sqlalchemy.engine.base.Engine ('2019-09-25', 5023, 609, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,829 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,830 INFO sqlalchemy.engine.base.Engine ('2019-09-26', 5033, 609, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,831 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,831 INFO sqlalchemy.engine.base.Engine ('2019-09-27', 5068, 612, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,832 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,833 INFO sqlalchemy.engine.base.Engine ('2019-09-28', 5084, 613, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,835 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,835 INFO sqlalchemy.engine.base.Engine ('2019-09-29', 5088, 614, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,836 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,837 INFO sqlalchemy.engine.base.Engine ('2019-09-30', 5097, 615, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,838 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,838 INFO sqlalchemy.engine.base.Engine ('2019-10-01', 5113, 617, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,839 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,840 INFO sqlalchemy.engine.base.Engine ('2019-10-02', 5117, 618, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,840 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,841 INFO sqlalchemy.engine.base.Engine ('2019-10-03', 5120, 620, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,842 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,842 INFO sqlalchemy.engine.base.Engine ('2019-10-04', 5128, 622, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,843 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,844 INFO sqlalchemy.engine.base.Engine ('2019-10-05', 5133, 624, '2020-03-11 16:38:13.843948')

2020-03-11 16:49:46,845 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,845 INFO sqlalchemy.engine.base.Engine ('2019-10-06', 5137, 628, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,846 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,846 INFO sqlalchemy.engine.base.Engine ('2019-10-07', 5144, 630, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,847 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,848 INFO sqlalchemy.engine.base.Engine ('2019-10-08', 5160, 633, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,849 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,850 INFO sqlalchemy.engine.base.Engine ('2019-10-09', 5166, 637, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,852 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,852 INFO sqlalchemy.engine.base.Engine ('2019-10-10', 5167, 639, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,853 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,854 INFO sqlalchemy.engine.base.Engine ('2019-10-11', 5168, 641, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,855 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,856 INFO sqlalchemy.engine.base.Engine ('2019-10-12', 5169, 644, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,857 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,857 INFO sqlalchemy.engine.base.Engine ('2019-10-13', 5170, 646, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,858 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,859 INFO sqlalchemy.engine.base.Engine ('2019-10-14', 5170, 649, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,860 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,861 INFO sqlalchemy.engine.base.Engine ('2019-10-15', 5179, 651, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,861 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,862 INFO sqlalchemy.engine.base.Engine ('2019-10-16', 5185, 651, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,863 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,864 INFO sqlalchemy.engine.base.Engine ('2019-10-17', 5187, 652, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,865 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,865 INFO sqlalchemy.engine.base.Engine ('2019-10-18', 5189, 653, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,866 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,867 INFO sqlalchemy.engine.base.Engine ('2019-10-19', 5191, 654, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,868 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,869 INFO sqlalchemy.engine.base.Engine ('2019-10-20', 5193, 655, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,870 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,871 INFO sqlalchemy.engine.base.Engine ('2019-10-21', 5194, 656, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,872 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,873 INFO sqlalchemy.engine.base.Engine ('2019-10-22', 5197, 658, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,874 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,874 INFO sqlalchemy.engine.base.Engine ('2019-10-23', 5210, 659, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,875 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,876 INFO sqlalchemy.engine.base.Engine ('2019-10-24', 5223, 663, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,877 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,878 INFO sqlalchemy.engine.base.Engine ('2019-10-25', 5232, 663, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,879 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,880 INFO sqlalchemy.engine.base.Engine ('2019-10-26', 5233, 664, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,881 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,881 INFO sqlalchemy.engine.base.Engine ('2019-10-27', 5234, 665, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,882 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,883 INFO sqlalchemy.engine.base.Engine ('2019-10-28', 5236, 666, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,884 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,885 INFO sqlalchemy.engine.base.Engine ('2019-10-29', 5240, 670, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,886 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,887 INFO sqlalchemy.engine.base.Engine ('2019-10-30', 5242, 671, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,888 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,889 INFO sqlalchemy.engine.base.Engine ('2019-10-31', 5243, 671, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,890 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,891 INFO sqlalchemy.engine.base.Engine ('2019-11-01', 5244, 674, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,892 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,893 INFO sqlalchemy.engine.base.Engine ('2019-11-02', 5246, 674, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,894 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,894 INFO sqlalchemy.engine.base.Engine ('2019-11-03', 5246, 676, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,895 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,896 INFO sqlalchemy.engine.base.Engine ('2019-11-04', 5247, 676, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,897 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,898 INFO sqlalchemy.engine.base.Engine ('2019-11-06', 5269, 679, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,899 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,899 INFO sqlalchemy.engine.base.Engine ('2019-11-07', 5284, 681, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,901 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,902 INFO sqlalchemy.engine.base.Engine ('2019-11-08', 5298, 683, '2020-03-11 16:38:13.843948')

2020-03-11 16:49:46,903 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,904 INFO sqlalchemy.engine.base.Engine ('2019-11-09', 5307, 684, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,905 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,906 INFO sqlalchemy.engine.base.Engine ('2019-11-10', 5313, 687, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,907 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,907 INFO sqlalchemy.engine.base.Engine ('2019-11-11', 5314, 687, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,908 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,909 INFO sqlalchemy.engine.base.Engine ('2019-11-12', 5314, 688, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,910 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,911 INFO sqlalchemy.engine.base.Engine ('2019-11-13', 5316, 689, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,912 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,912 INFO sqlalchemy.engine.base.Engine ('2019-11-14', 5326, 691, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,913 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,914 INFO sqlalchemy.engine.base.Engine ('2019-11-15', 5337, 691, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,915 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,916 INFO sqlalchemy.engine.base.Engine ('2019-11-16', 5338, 692, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,917 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,918 INFO sqlalchemy.engine.base.Engine ('2019-11-17', 5342, 692, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,920 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,921 INFO sqlalchemy.engine.base.Engine ('2019-11-18', 5343, 695, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,922 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,923 INFO sqlalchemy.engine.base.Engine ('2019-11-19', 5347, 697, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,924 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,924 INFO sqlalchemy.engine.base.Engine ('2019-11-20', 5348, 697, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,925 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,926 INFO sqlalchemy.engine.base.Engine ('2019-11-21', 5351, 700, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,927 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,927 INFO sqlalchemy.engine.base.Engine ('2019-11-22', 5356, 700, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,928 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,928 INFO sqlalchemy.engine.base.Engine ('2019-11-23', 5383, 700, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,929 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,930 INFO sqlalchemy.engine.base.Engine ('2019-11-24', 5409, 704, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,931 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,932 INFO sqlalchemy.engine.base.Engine ('2019-11-25', 5435, 709, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,933 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,933 INFO sqlalchemy.engine.base.Engine ('2019-11-26', 5450, 714, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,935 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,936 INFO sqlalchemy.engine.base.Engine ('2019-11-27', 5479, 714, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,938 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,938 INFO sqlalchemy.engine.base.Engine ('2019-11-28', 5503, 715, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,940 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,941 INFO sqlalchemy.engine.base.Engine ('2019-11-29', 5554, 716, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,942 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,943 INFO sqlalchemy.engine.base.Engine ('2019-11-30', 5643, 718, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,943 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,944 INFO sqlalchemy.engine.base.Engine ('2019-12-01', 5652, 720, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,945 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,946 INFO sqlalchemy.engine.base.Engine ('2019-12-02', 5654, 723, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,947 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,947 INFO sqlalchemy.engine.base.Engine ('2019-12-03', 5678, 723, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,948 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,949 INFO sqlalchemy.engine.base.Engine ('2019-12-04', 5706, 723, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,951 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,954 INFO sqlalchemy.engine.base.Engine ('2019-12-05', 5747, 726, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,956 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,957 INFO sqlalchemy.engine.base.Engine ('2019-12-06', 5802, 728, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,958 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,958 INFO sqlalchemy.engine.base.Engine ('2019-12-07', 5807, 728, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,959 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,960 INFO sqlalchemy.engine.base.Engine ('2019-12-08', 5811, 732, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,961 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,961 INFO sqlalchemy.engine.base.Engine ('2019-12-09', 5811, 732, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,962 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,963 INFO sqlalchemy.engine.base.Engine ('2019-12-10', 5813, 735, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,964 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,964 INFO sqlalchemy.engine.base.Engine ('2019-12-11', 5819, 735, '2020-03-11 16:38:13.843948')

2020-03-11 16:49:46,965 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,966 INFO sqlalchemy.engine.base.Engine ('2019-12-12', 5825, 737, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,967 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,968 INFO sqlalchemy.engine.base.Engine ('2019-12-13', 5830, 739, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,970 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,970 INFO sqlalchemy.engine.base.Engine ('2019-12-14', 5833, 739, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,971 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,972 INFO sqlalchemy.engine.base.Engine ('2019-12-15', 5837, 740, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,973 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,974 INFO sqlalchemy.engine.base.Engine ('2019-12-16', 5839, 742, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,975 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,975 INFO sqlalchemy.engine.base.Engine ('2019-12-17', 5840, 744, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,976 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,977 INFO sqlalchemy.engine.base.Engine ('2019-12-18', 5846, 745, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,978 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,978 INFO sqlalchemy.engine.base.Engine ('2019-12-19', 5847, 745, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,979 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,979 INFO sqlalchemy.engine.base.Engine ('2019-12-20', 5849, 746, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,980 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,981 INFO sqlalchemy.engine.base.Engine ('2019-12-21', 5850, 746, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,983 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,984 INFO sqlalchemy.engine.base.Engine ('2019-12-22', 5852, 746, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,985 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,987 INFO sqlalchemy.engine.base.Engine ('2019-12-23', 5870, 747, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,988 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,989 INFO sqlalchemy.engine.base.Engine ('2019-12-24', 5878, 748, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,990 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,991 INFO sqlalchemy.engine.base.Engine ('2019-12-25', 5888, 748, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,992 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,993 INFO sqlalchemy.engine.base.Engine ('2019-12-26', 5906, 749, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,993 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,994 INFO sqlalchemy.engine.base.Engine ('2019-12-27', 5927, 749, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,995 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,996 INFO sqlalchemy.engine.base.Engine ('2019-12-28', 5930, 749, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,997 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:46,998 INFO sqlalchemy.engine.base.Engine ('2019-12-29', 5933, 750, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:46,999 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,000 INFO sqlalchemy.engine.base.Engine ('2019-12-30', 5936, 752, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,001 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,002 INFO sqlalchemy.engine.base.Engine ('2019-12-31', 5937, 753, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,003 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,004 INFO sqlalchemy.engine.base.Engine ('2020-01-01', 5964, 760, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,098 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,099 INFO sqlalchemy.engine.base.Engine ('2020-01-02', 5989, 764, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,100 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,101 INFO sqlalchemy.engine.base.Engine ('2020-01-03', 5999, 768, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,102 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,103 INFO sqlalchemy.engine.base.Engine ('2020-01-04', 6011, 768, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,104 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,104 INFO sqlalchemy.engine.base.Engine ('2020-01-05', 6023, 771, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,105 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,106 INFO sqlalchemy.engine.base.Engine ('2020-01-06', 6042, 772, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,107 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,107 INFO sqlalchemy.engine.base.Engine ('2020-01-07', 6060, 776, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,108 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,108 INFO sqlalchemy.engine.base.Engine ('2020-01-08', 6089, 778, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,109 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,110 INFO sqlalchemy.engine.base.Engine ('2020-01-09', 6121, 780, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,111 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,111 INFO sqlalchemy.engine.base.Engine ('2020-01-10', 6174, 781, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,112 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,112 INFO sqlalchemy.engine.base.Engine ('2020-01-11', 6178, 782, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,113 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,114 INFO sqlalchemy.engine.base.Engine ('2020-01-12', 6182, 784, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,115 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,115 INFO sqlalchemy.engine.base.Engine ('2020-01-13', 6188, 784, '2020-03-11 16:38:13.843948')

2020-03-11 16:49:47,116 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,117 INFO sqlalchemy.engine.base.Engine ('2020-01-14', 6191, 788, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,119 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,120 INFO sqlalchemy.engine.base.Engine ('2020-01-15', 6193, 792, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,121 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,121 INFO sqlalchemy.engine.base.Engine ('2020-01-16', 6196, 793, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,122 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,123 INFO sqlalchemy.engine.base.Engine ('2020-01-17', 6201, 793, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,124 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,124 INFO sqlalchemy.engine.base.Engine ('2020-01-18', 6200, 795, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,125 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,126 INFO sqlalchemy.engine.base.Engine ('2020-01-19', 6204, 797, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,127 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,127 INFO sqlalchemy.engine.base.Engine ('2020-01-20', 6206, 801, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,128 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,129 INFO sqlalchemy.engine.base.Engine ('2020-01-21', 6212, 803, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,130 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,130 INFO sqlalchemy.engine.base.Engine ('2020-01-22', 6213, 806, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,131 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,132 INFO sqlalchemy.engine.base.Engine ('2020-01-23', 6215, 808, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,133 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,134 INFO sqlalchemy.engine.base.Engine ('2020-01-24', 6219, 808, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,135 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,136 INFO sqlalchemy.engine.base.Engine ('2020-01-25', 6222, 811, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,137 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,137 INFO sqlalchemy.engine.base.Engine ('2020-01-26', 6223, 811, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,138 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,139 INFO sqlalchemy.engine.base.Engine ('2020-01-27', 6224, 811, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,140 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,140 INFO sqlalchemy.engine.base.Engine ('2020-01-28', 6229, 812, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,141 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,141 INFO sqlalchemy.engine.base.Engine ('2020-01-29', 6248, 812, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,142 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,143 INFO sqlalchemy.engine.base.Engine ('2020-01-30', 6281, 813, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,143 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,144 INFO sqlalchemy.engine.base.Engine ('2020-01-31', 6286, 816, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,145 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,145 INFO sqlalchemy.engine.base.Engine ('2020-02-01', 6291, 820, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,146 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,146 INFO sqlalchemy.engine.base.Engine ('2020-02-02', 6294, 820, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,147 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,148 INFO sqlalchemy.engine.base.Engine ('2020-02-03', 6299, 820, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,149 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,149 INFO sqlalchemy.engine.base.Engine ('2020-02-04', 6310, 821, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,151 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,152 INFO sqlalchemy.engine.base.Engine ('2020-02-05', 6319, 824, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,153 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,153 INFO sqlalchemy.engine.base.Engine ('2020-02-06', 6337, 827, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,154 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,155 INFO sqlalchemy.engine.base.Engine ('2020-02-07', 6352, 829, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,156 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,157 INFO sqlalchemy.engine.base.Engine ('2020-02-08', 6353, 833, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,158 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,158 INFO sqlalchemy.engine.base.Engine ('2020-02-09', 6356, 834, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,159 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,160 INFO sqlalchemy.engine.base.Engine ('2020-02-10', 6359, 836, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,161 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,161 INFO sqlalchemy.engine.base.Engine ('2020-02-11', 6361, 843, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,162 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,163 INFO sqlalchemy.engine.base.Engine ('2020-02-12', 6366, 845, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,164 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,165 INFO sqlalchemy.engine.base.Engine ('2020-02-13', 6370, 848, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,166 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,167 INFO sqlalchemy.engine.base.Engine ('2020-02-14', 6387, 852, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,168 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,169 INFO sqlalchemy.engine.base.Engine ('2020-02-15', 6399, 854, '2020-03-11 16:38:13.843948')

2020-03-11 16:49:47,170 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,171 INFO sqlalchemy.engine.base.Engine ('2020-02-16', 6399, 854, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,172 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,173 INFO sqlalchemy.engine.base.Engine ('2020-02-17', 6407, 857, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,174 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,175 INFO sqlalchemy.engine.base.Engine ('2020-02-18', 6411, 860, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,176 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,177 INFO sqlalchemy.engine.base.Engine ('2020-02-19', 6412, 861, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,178 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,179 INFO sqlalchemy.engine.base.Engine ('2020-02-20', 6413, 861, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,180 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,181 INFO sqlalchemy.engine.base.Engine ('2020-02-21', 6428, 862, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,183 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,186 INFO sqlalchemy.engine.base.Engine ('2020-02-22', 6436, 862, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,187 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,189 INFO sqlalchemy.engine.base.Engine ('2020-02-23', 6439, 867, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,190 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,192 INFO sqlalchemy.engine.base.Engine ('2020-02-24', 6442, 868, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,193 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,194 INFO sqlalchemy.engine.base.Engine ('2020-02-25', 6455, 869, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,196 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,197 INFO sqlalchemy.engine.base.Engine ('2020-02-26', 6460, 871, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,198 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,201 INFO sqlalchemy.engine.base.Engine ('2020-02-27', 6470, 872, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,203 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,204 INFO sqlalchemy.engine.base.Engine ('2020-02-28', 6482, 873, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,206 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,207 INFO sqlalchemy.engine.base.Engine ('2020-02-29', 6495, 876, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,209 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,210 INFO sqlalchemy.engine.base.Engine ('2020-03-01', 6500, 876, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,211 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,213 INFO sqlalchemy.engine.base.Engine ('2020-03-02', 6504, 878, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,224 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,225 INFO sqlalchemy.engine.base.Engine ('2020-03-03', 6510, 885, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,227 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,229 INFO sqlalchemy.engine.base.Engine ('2020-03-03', 6515, 890, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,230 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,232 INFO sqlalchemy.engine.base.Engine ('2020-03-03', 6515, 890, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,233 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,235 INFO sqlalchemy.engine.base.Engine ('2020-03-03', 6515, 890, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,236 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,237 INFO sqlalchemy.engine.base.Engine ('2020-03-04', 6522, 890, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,238 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,239 INFO sqlalchemy.engine.base.Engine ('2019-01-17', 2671, 194, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,240 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,241 INFO sqlalchemy.engine.base.Engine ('2019-01-18', 2671, 195, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,243 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,243 INFO sqlalchemy.engine.base.Engine ('2019-01-19', 2674, 197, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,245 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,246 INFO sqlalchemy.engine.base.Engine ('2019-01-20', 2685, 199, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,248 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,248 INFO sqlalchemy.engine.base.Engine ('2019-01-21', 2695, 199, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,250 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,251 INFO sqlalchemy.engine.base.Engine ('2019-01-22', 2701, 200, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,253 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,254 INFO sqlalchemy.engine.base.Engine ('2019-01-23', 2710, 200, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,256 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,257 INFO sqlalchemy.engine.base.Engine ('2019-01-24', 2718, 201, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,259 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,260 INFO sqlalchemy.engine.base.Engine ('2019-01-25', 2722, 201, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,261 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,263 INFO sqlalchemy.engine.base.Engine ('2019-01-26', 2725, 201, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,264 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,265 INFO sqlalchemy.engine.base.Engine ('2019-01-27', 2734, 202, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,266 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,267 INFO sqlalchemy.engine.base.Engine ('2019-01-28', 2753, 204, '2020-03-11 16:38:13.843948')

2020-03-11 16:49:47,269 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,270 INFO sqlalchemy.engine.base.Engine ('2019-01-29', 2773, 206, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,272 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,273 INFO sqlalchemy.engine.base.Engine ('2019-01-30', 2785, 208, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,274 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,275 INFO sqlalchemy.engine.base.Engine ('2019-01-31', 2803, 210, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,276 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,277 INFO sqlalchemy.engine.base.Engine ('2019-02-01', 2845, 211, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,278 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,279 INFO sqlalchemy.engine.base.Engine ('2019-02-02', 2847, 213, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,281 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,281 INFO sqlalchemy.engine.base.Engine ('2019-02-03', 2847, 213, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,282 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,283 INFO sqlalchemy.engine.base.Engine ('2019-02-04', 2851, 217, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,285 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,286 INFO sqlalchemy.engine.base.Engine ('2019-02-05', 2852, 218, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,287 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,288 INFO sqlalchemy.engine.base.Engine ('2019-02-06', 2857, 219, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,289 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,291 INFO sqlalchemy.engine.base.Engine ('2019-02-07', 2861, 220, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,293 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,294 INFO sqlalchemy.engine.base.Engine ('2019-02-08', 2865, 222, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,296 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,297 INFO sqlalchemy.engine.base.Engine ('2019-02-09', 2870, 224, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,299 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,301 INFO sqlalchemy.engine.base.Engine ('2019-02-10', 2875, 224, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,302 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,306 INFO sqlalchemy.engine.base.Engine ('2019-02-11', 2892, 227, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,307 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,308 INFO sqlalchemy.engine.base.Engine ('2019-02-12', 2906, 229, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,309 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,311 INFO sqlalchemy.engine.base.Engine ('2019-02-13', 2919, 229, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,312 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,313 INFO sqlalchemy.engine.base.Engine ('2019-02-14', 2942, 231, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,314 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,315 INFO sqlalchemy.engine.base.Engine ('2019-02-15', 2974, 232, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,316 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,317 INFO sqlalchemy.engine.base.Engine ('2019-02-16', 2977, 234, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,318 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,319 INFO sqlalchemy.engine.base.Engine ('2019-02-17', 2978, 234, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,321 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,322 INFO sqlalchemy.engine.base.Engine ('2019-02-18', 2981, 234, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,323 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,325 INFO sqlalchemy.engine.base.Engine ('2019-02-19', 2983, 234, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,327 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,328 INFO sqlalchemy.engine.base.Engine ('2019-02-20', 2984, 237, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,329 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,330 INFO sqlalchemy.engine.base.Engine ('2019-02-21', 2987, 239, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,332 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,333 INFO sqlalchemy.engine.base.Engine ('2019-02-22', 2989, 239, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,334 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,335 INFO sqlalchemy.engine.base.Engine ('2019-02-23', 2993, 241, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,336 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,338 INFO sqlalchemy.engine.base.Engine ('2019-02-24', 2995, 241, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,340 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,341 INFO sqlalchemy.engine.base.Engine ('2019-02-25', 3009, 241, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,342 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,343 INFO sqlalchemy.engine.base.Engine ('2019-02-26', 3014, 243, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,344 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,345 INFO sqlalchemy.engine.base.Engine ('2019-02-27', 3023, 243, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,346 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,347 INFO sqlalchemy.engine.base.Engine ('2019-02-28', 3031, 243, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,348 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,349 INFO sqlalchemy.engine.base.Engine ('2019-03-01', 3052, 244, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,350 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,351 INFO sqlalchemy.engine.base.Engine ('2019-03-02', 3060, 245, '2020-03-11 16:38:13.843948')

2020-03-11 16:49:47,353 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,354 INFO sqlalchemy.engine.base.Engine ('2019-03-03', 3062, 246, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,355 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,356 INFO sqlalchemy.engine.base.Engine ('2019-03-04', 3063, 249, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,357 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,358 INFO sqlalchemy.engine.base.Engine ('2019-03-05', 3066, 252, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,359 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,360 INFO sqlalchemy.engine.base.Engine ('2019-03-06', 3071, 254, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,361 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,362 INFO sqlalchemy.engine.base.Engine ('2019-03-07', 3074, 255, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,363 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,364 INFO sqlalchemy.engine.base.Engine ('2019-03-08', 3076, 256, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,364 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,365 INFO sqlalchemy.engine.base.Engine ('2019-03-09', 3077, 258, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,366 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,368 INFO sqlalchemy.engine.base.Engine ('2019-03-10', 3080, 258, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,369 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,370 INFO sqlalchemy.engine.base.Engine ('2019-03-11', 3087, 261, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,371 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,372 INFO sqlalchemy.engine.base.Engine ('2019-03-12', 3089, 261, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,373 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,374 INFO sqlalchemy.engine.base.Engine ('2019-03-13', 3093, 262, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,374 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,375 INFO sqlalchemy.engine.base.Engine ('2019-03-14', 3098, 262, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,376 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,377 INFO sqlalchemy.engine.base.Engine ('2019-03-15', 3104, 262, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,378 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,378 INFO sqlalchemy.engine.base.Engine ('2019-03-16', 3112, 262, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,469 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,470 INFO sqlalchemy.engine.base.Engine ('2019-03-17', 3120, 262, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,472 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,473 INFO sqlalchemy.engine.base.Engine ('2019-03-18', 3131, 265, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,474 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,474 INFO sqlalchemy.engine.base.Engine ('2019-03-19', 3142, 266, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,475 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,476 INFO sqlalchemy.engine.base.Engine ('2019-03-20', 3162, 266, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,477 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,477 INFO sqlalchemy.engine.base.Engine ('2019-03-21', 3173, 268, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,478 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,479 INFO sqlalchemy.engine.base.Engine ('2019-03-22', 3180, 269, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,480 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,481 INFO sqlalchemy.engine.base.Engine ('2019-03-23', 3187, 271, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,482 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,482 INFO sqlalchemy.engine.base.Engine ('2019-03-24', 3189, 271, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,483 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,484 INFO sqlalchemy.engine.base.Engine ('2019-03-25', 3196, 274, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,485 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,486 INFO sqlalchemy.engine.base.Engine ('2019-03-26', 3212, 274, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,487 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,487 INFO sqlalchemy.engine.base.Engine ('2019-03-27', 3220, 274, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,488 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,489 INFO sqlalchemy.engine.base.Engine ('2019-03-28', 3226, 275, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,490 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,490 INFO sqlalchemy.engine.base.Engine ('2019-03-29', 3241, 275, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,491 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,492 INFO sqlalchemy.engine.base.Engine ('2019-03-30', 3253, 278, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,492 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,493 INFO sqlalchemy.engine.base.Engine ('2019-03-31', 3255, 278, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,494 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,495 INFO sqlalchemy.engine.base.Engine ('2019-04-01', 3258, 280, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,495 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,496 INFO sqlalchemy.engine.base.Engine ('2019-04-02', 3262, 282, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,497 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,498 INFO sqlalchemy.engine.base.Engine ('2019-04-03', 3264, 282, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,499 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,500 INFO sqlalchemy.engine.base.Engine ('2019-04-04', 3272, 282, '2020-03-11 16:38:13.843948')

2020-03-11 16:49:47,501 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,502 INFO sqlalchemy.engine.base.Engine ('2019-04-05', 3275, 284, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,503 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,504 INFO sqlalchemy.engine.base.Engine ('2019-04-06', 3276, 287, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,505 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,506 INFO sqlalchemy.engine.base.Engine ('2019-04-07', 3279, 289, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,506 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,507 INFO sqlalchemy.engine.base.Engine ('2019-04-08', 3285, 289, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,508 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,508 INFO sqlalchemy.engine.base.Engine ('2019-04-09', 3300, 291, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,509 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,509 INFO sqlalchemy.engine.base.Engine ('2019-04-10', 3306, 293, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,510 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,511 INFO sqlalchemy.engine.base.Engine ('2019-04-11', 3312, 295, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,511 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,512 INFO sqlalchemy.engine.base.Engine ('2019-04-12', 3319, 295, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,513 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,513 INFO sqlalchemy.engine.base.Engine ('2019-04-13', 3324, 295, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,514 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,514 INFO sqlalchemy.engine.base.Engine ('2019-04-14', 3325, 297, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,515 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,515 INFO sqlalchemy.engine.base.Engine ('2019-04-15', 3329, 298, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,516 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,517 INFO sqlalchemy.engine.base.Engine ('2019-04-16', 3331, 299, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,518 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,519 INFO sqlalchemy.engine.base.Engine ('2019-04-17', 3332, 299, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,520 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,521 INFO sqlalchemy.engine.base.Engine ('2019-04-18', 3333, 299, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,522 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,522 INFO sqlalchemy.engine.base.Engine ('2019-04-19', 3336, 299, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,523 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,524 INFO sqlalchemy.engine.base.Engine ('2019-04-20', 3339, 299, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,525 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,526 INFO sqlalchemy.engine.base.Engine ('2019-04-21', 3343, 300, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,527 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,527 INFO sqlalchemy.engine.base.Engine ('2019-04-22', 3349, 302, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,528 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,528 INFO sqlalchemy.engine.base.Engine ('2019-04-23', 3357, 303, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,529 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,530 INFO sqlalchemy.engine.base.Engine ('2019-04-24', 3370, 303, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,530 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,531 INFO sqlalchemy.engine.base.Engine ('2019-04-25', 3388, 304, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,532 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,532 INFO sqlalchemy.engine.base.Engine ('2019-04-26', 3412, 304, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,534 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,534 INFO sqlalchemy.engine.base.Engine ('2019-04-27', 3437, 305, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,535 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,537 INFO sqlalchemy.engine.base.Engine ('2019-04-28', 3439, 305, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,538 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,539 INFO sqlalchemy.engine.base.Engine ('2019-04-29', 3440, 308, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,540 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,540 INFO sqlalchemy.engine.base.Engine ('2019-04-30', 3447, 309, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,541 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,542 INFO sqlalchemy.engine.base.Engine ('2019-05-01', 3466, 310, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,542 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,543 INFO sqlalchemy.engine.base.Engine ('2019-05-02', 3481, 311, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,544 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,544 INFO sqlalchemy.engine.base.Engine ('2019-05-03', 3504, 314, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,545 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,545 INFO sqlalchemy.engine.base.Engine ('2019-05-04', 3522, 317, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,546 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,547 INFO sqlalchemy.engine.base.Engine ('2019-05-05', 3527, 322, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,547 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,548 INFO sqlalchemy.engine.base.Engine ('2019-05-06', 3533, 324, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,549 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,549 INFO sqlalchemy.engine.base.Engine ('2019-05-07', 3543, 327, '2020-03-11 16:38:13.843948')

2020-03-11 16:49:47,550 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,552 INFO sqlalchemy.engine.base.Engine ('2019-05-08', 3546, 328, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,553 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,553 INFO sqlalchemy.engine.base.Engine ('2019-05-09', 3555, 330, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,555 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,555 INFO sqlalchemy.engine.base.Engine ('2019-05-10', 3566, 332, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,556 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,557 INFO sqlalchemy.engine.base.Engine ('2019-05-11', 3583, 334, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,558 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,558 INFO sqlalchemy.engine.base.Engine ('2019-05-12', 3594, 335, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,559 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,560 INFO sqlalchemy.engine.base.Engine ('2019-05-13', 3614, 338, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,561 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,562 INFO sqlalchemy.engine.base.Engine ('2019-05-14', 3633, 340, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,563 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,564 INFO sqlalchemy.engine.base.Engine ('2019-05-15', 3647, 344, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,565 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,565 INFO sqlalchemy.engine.base.Engine ('2019-05-16', 3648, 349, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,566 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,567 INFO sqlalchemy.engine.base.Engine ('2019-05-17', 3649, 349, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,568 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,569 INFO sqlalchemy.engine.base.Engine ('2019-05-18', 3651, 351, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,570 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,571 INFO sqlalchemy.engine.base.Engine ('2019-05-19', 3654, 351, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,571 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,572 INFO sqlalchemy.engine.base.Engine ('2019-05-20', 3658, 354, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,573 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,574 INFO sqlalchemy.engine.base.Engine ('2019-05-21', 3671, 354, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,574 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,575 INFO sqlalchemy.engine.base.Engine ('2019-05-22', 3675, 359, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,576 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,576 INFO sqlalchemy.engine.base.Engine ('2019-05-23', 3681, 359, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,577 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,577 INFO sqlalchemy.engine.base.Engine ('2019-05-24', 3694, 361, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,578 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,579 INFO sqlalchemy.engine.base.Engine ('2019-05-25', 3699, 361, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,579 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,580 INFO sqlalchemy.engine.base.Engine ('2019-05-26', 3711, 364, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,580 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,581 INFO sqlalchemy.engine.base.Engine ('2019-05-27', 3722, 368, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,582 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,582 INFO sqlalchemy.engine.base.Engine ('2019-05-28', 3734, 373, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,583 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,584 INFO sqlalchemy.engine.base.Engine ('2019-05-29', 3766, 374, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,584 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,585 INFO sqlalchemy.engine.base.Engine ('2019-05-30', 3781, 375, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,586 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,587 INFO sqlalchemy.engine.base.Engine ('2019-05-31', 3784, 375, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,588 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,588 INFO sqlalchemy.engine.base.Engine ('2019-06-01', 3789, 378, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,589 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,589 INFO sqlalchemy.engine.base.Engine ('2019-06-02', 3790, 379, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,590 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,591 INFO sqlalchemy.engine.base.Engine ('2019-06-03', 3793, 380, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,592 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,592 INFO sqlalchemy.engine.base.Engine ('2019-06-04', 3795, 383, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,593 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,594 INFO sqlalchemy.engine.base.Engine ('2019-06-05', 3808, 385, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,595 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,595 INFO sqlalchemy.engine.base.Engine ('2019-06-06', 3830, 386, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,596 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,597 INFO sqlalchemy.engine.base.Engine ('2019-06-07', 3843, 387, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,597 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,598 INFO sqlalchemy.engine.base.Engine ('2019-06-08', 3857, 390, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,598 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,599 INFO sqlalchemy.engine.base.Engine ('2019-06-09', 3870, 394, '2020-03-11 16:38:13.843948')

2020-03-11 16:49:47,600 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,601 INFO sqlalchemy.engine.base.Engine ('2019-06-10', 3895, 395, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,602 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,603 INFO sqlalchemy.engine.base.Engine ('2019-06-11', 3919, 397, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,604 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,605 INFO sqlalchemy.engine.base.Engine ('2019-06-12', 3942, 399, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,606 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,607 INFO sqlalchemy.engine.base.Engine ('2019-06-13', 3983, 402, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,608 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,609 INFO sqlalchemy.engine.base.Engine ('2019-06-14', 4022, 404, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,609 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,610 INFO sqlalchemy.engine.base.Engine ('2019-06-15', 4053, 409, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,611 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,611 INFO sqlalchemy.engine.base.Engine ('2019-06-16', 4058, 410, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,612 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,612 INFO sqlalchemy.engine.base.Engine ('2019-06-17', 4063, 414, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,613 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,614 INFO sqlalchemy.engine.base.Engine ('2019-06-18', 4064, 417, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,614 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,615 INFO sqlalchemy.engine.base.Engine ('2019-06-19', 4065, 422, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,616 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,616 INFO sqlalchemy.engine.base.Engine ('2019-06-20', 4066, 424, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,617 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,618 INFO sqlalchemy.engine.base.Engine ('2019-06-21', 4069, 425, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,619 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,620 INFO sqlalchemy.engine.base.Engine ('2019-06-22', 4070, 426, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,621 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,622 INFO sqlalchemy.engine.base.Engine ('2019-06-23', 4073, 427, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,623 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,624 INFO sqlalchemy.engine.base.Engine ('2019-06-24', 4084, 427, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,624 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,625 INFO sqlalchemy.engine.base.Engine ('2019-06-25', 4108, 427, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,625 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,626 INFO sqlalchemy.engine.base.Engine ('2019-06-26', 4122, 433, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,626 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,627 INFO sqlalchemy.engine.base.Engine ('2019-06-27', 4132, 436, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,628 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,628 INFO sqlalchemy.engine.base.Engine ('2019-06-28', 4150, 440, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,629 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,629 INFO sqlalchemy.engine.base.Engine ('2019-06-29', 4162, 440, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,630 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,630 INFO sqlalchemy.engine.base.Engine ('2019-06-30', 4164, 446, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,631 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,631 INFO sqlalchemy.engine.base.Engine ('2019-07-01', 4167, 448, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,632 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,633 INFO sqlalchemy.engine.base.Engine ('2019-07-02', 4174, 450, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,633 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,634 INFO sqlalchemy.engine.base.Engine ('2019-07-03', 4179, 455, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,635 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,636 INFO sqlalchemy.engine.base.Engine ('2019-07-04', 4187, 456, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,638 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,638 INFO sqlalchemy.engine.base.Engine ('2019-07-05', 4200, 456, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,639 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,640 INFO sqlalchemy.engine.base.Engine ('2019-07-06', 4210, 458, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,640 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,641 INFO sqlalchemy.engine.base.Engine ('2019-07-07', 4211, 458, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,642 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,643 INFO sqlalchemy.engine.base.Engine ('2019-07-08', 4214, 464, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,644 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,644 INFO sqlalchemy.engine.base.Engine ('2019-07-09', 4219, 464, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,645 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,646 INFO sqlalchemy.engine.base.Engine ('2019-07-10', 4223, 468, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,647 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,647 INFO sqlalchemy.engine.base.Engine ('2019-07-11', 4228, 469, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,648 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,648 INFO sqlalchemy.engine.base.Engine ('2019-07-12', 4236, 469, '2020-03-11 16:38:13.843948')

2020-03-11 16:49:47,649 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,650 INFO sqlalchemy.engine.base.Engine ('2019-07-13', 4239, 471, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,651 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,652 INFO sqlalchemy.engine.base.Engine ('2019-07-14', 4243, 471, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,653 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,653 INFO sqlalchemy.engine.base.Engine ('2019-07-15', 4250, 473, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,654 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,655 INFO sqlalchemy.engine.base.Engine ('2019-07-16', 4265, 476, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,656 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,656 INFO sqlalchemy.engine.base.Engine ('2019-07-17', 4288, 476, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,657 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,657 INFO sqlalchemy.engine.base.Engine ('2019-07-18', 4313, 483, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,658 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,659 INFO sqlalchemy.engine.base.Engine ('2019-07-19', 4329, 483, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,733 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,734 INFO sqlalchemy.engine.base.Engine ('2019-07-20', 4329, 486, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,735 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,736 INFO sqlalchemy.engine.base.Engine ('2019-07-21', 4329, 487, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,737 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,738 INFO sqlalchemy.engine.base.Engine ('2019-07-22', 4333, 492, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,739 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,740 INFO sqlalchemy.engine.base.Engine ('2019-07-23', 4335, 493, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,740 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,741 INFO sqlalchemy.engine.base.Engine ('2019-07-24', 4353, 494, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,742 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,743 INFO sqlalchemy.engine.base.Engine ('2019-07-25', 4370, 496, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,744 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,744 INFO sqlalchemy.engine.base.Engine ('2019-07-26', 4397, 500, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,745 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,745 INFO sqlalchemy.engine.base.Engine ('2019-07-27', 4419, 504, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,746 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,747 INFO sqlalchemy.engine.base.Engine ('2019-07-28', 4422, 507, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,748 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,748 INFO sqlalchemy.engine.base.Engine ('2019-07-29', 4423, 513, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,749 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,749 INFO sqlalchemy.engine.base.Engine ('2019-07-30', 4425, 516, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,750 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,752 INFO sqlalchemy.engine.base.Engine ('2019-07-31', 4427, 518, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,753 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,753 INFO sqlalchemy.engine.base.Engine ('2019-08-01', 4432, 519, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,754 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,755 INFO sqlalchemy.engine.base.Engine ('2019-08-02', 4433, 520, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,756 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,756 INFO sqlalchemy.engine.base.Engine ('2019-08-03', 4435, 522, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,757 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,758 INFO sqlalchemy.engine.base.Engine ('2019-08-04', 4437, 522, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,759 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,759 INFO sqlalchemy.engine.base.Engine ('2019-08-05', 4440, 526, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,760 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,760 INFO sqlalchemy.engine.base.Engine ('2019-08-06', 4444, 528, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,761 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,762 INFO sqlalchemy.engine.base.Engine ('2019-08-07', 4452, 528, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,763 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,763 INFO sqlalchemy.engine.base.Engine ('2019-08-08', 4466, 529, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,764 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,765 INFO sqlalchemy.engine.base.Engine ('2019-08-09', 4493, 529, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,766 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,766 INFO sqlalchemy.engine.base.Engine ('2019-08-10', 4521, 530, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,767 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,768 INFO sqlalchemy.engine.base.Engine ('2019-08-11', 4528, 531, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,769 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,770 INFO sqlalchemy.engine.base.Engine ('2019-08-12', 4529, 533, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,771 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,772 INFO sqlalchemy.engine.base.Engine ('2019-08-13', 4532, 534, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,773 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,774 INFO sqlalchemy.engine.base.Engine ('2019-08-14', 4534, 537, '2020-03-11 16:38:13.843948')

2020-03-11 16:49:47,775 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,776 INFO sqlalchemy.engine.base.Engine ('2019-08-15', 4535, 537, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,778 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,779 INFO sqlalchemy.engine.base.Engine ('2019-08-16', 4539, 539, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,780 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,781 INFO sqlalchemy.engine.base.Engine ('2019-08-17', 4539, 540, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,781 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,782 INFO sqlalchemy.engine.base.Engine ('2019-08-18', 4541, 541, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,783 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,783 INFO sqlalchemy.engine.base.Engine ('2019-08-19', 4545, 544, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,784 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,785 INFO sqlalchemy.engine.base.Engine ('2019-08-20', 4545, 545, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,786 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,787 INFO sqlalchemy.engine.base.Engine ('2019-08-21', 4561, 548, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,788 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,789 INFO sqlalchemy.engine.base.Engine ('2019-08-22', 4590, 549, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,789 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,790 INFO sqlalchemy.engine.base.Engine ('2019-08-23', 4624, 549, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,791 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,792 INFO sqlalchemy.engine.base.Engine ('2019-08-24', 4641, 552, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,793 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,793 INFO sqlalchemy.engine.base.Engine ('2019-08-25', 4665, 554, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,794 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,795 INFO sqlalchemy.engine.base.Engine ('2019-08-26', 4702, 557, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,795 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,797 INFO sqlalchemy.engine.base.Engine ('2019-08-27', 4730, 561, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,797 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,799 INFO sqlalchemy.engine.base.Engine ('2019-08-28', 4761, 564, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,800 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,800 INFO sqlalchemy.engine.base.Engine ('2019-08-29', 4793, 566, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,801 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,802 INFO sqlalchemy.engine.base.Engine ('2019-08-30', 4846, 566, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,803 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,805 INFO sqlalchemy.engine.base.Engine ('2019-08-31', 4878, 571, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,806 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,807 INFO sqlalchemy.engine.base.Engine ('2019-09-01', 4884, 572, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,808 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,809 INFO sqlalchemy.engine.base.Engine ('2019-09-02', 4888, 573, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,810 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,811 INFO sqlalchemy.engine.base.Engine ('2019-09-03', 4887, 574, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,811 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,813 INFO sqlalchemy.engine.base.Engine ('2019-09-04', 4888, 575, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,814 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,814 INFO sqlalchemy.engine.base.Engine ('2019-09-05', 4890, 577, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,815 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,815 INFO sqlalchemy.engine.base.Engine ('2019-09-06', 4892, 577, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,816 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,819 INFO sqlalchemy.engine.base.Engine ('2019-09-07', 4894, 578, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,821 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,822 INFO sqlalchemy.engine.base.Engine ('2019-09-08', 4896, 578, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,823 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,823 INFO sqlalchemy.engine.base.Engine ('2019-09-09', 4907, 579, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,824 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,825 INFO sqlalchemy.engine.base.Engine ('2019-09-10', 4918, 581, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,826 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,826 INFO sqlalchemy.engine.base.Engine ('2019-09-11', 4935, 583, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,828 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,830 INFO sqlalchemy.engine.base.Engine ('2019-09-12', 4949, 583, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,832 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,833 INFO sqlalchemy.engine.base.Engine ('2019-09-13', 4965, 584, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,834 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,839 INFO sqlalchemy.engine.base.Engine ('2019-09-14', 4966, 587, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,842 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,845 INFO sqlalchemy.engine.base.Engine ('2019-09-15', 4966, 587, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,849 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,854 INFO sqlalchemy.engine.base.Engine ('2019-09-16', 4970, 590, '2020-03-11 16:38:13.843948')

2020-03-11 16:49:47,859 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,864 INFO sqlalchemy.engine.base.Engine ('2019-09-17', 4972, 590, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,867 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,870 INFO sqlalchemy.engine.base.Engine ('2019-09-18', 4974, 592, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,873 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,876 INFO sqlalchemy.engine.base.Engine ('2019-09-19', 4996, 596, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,877 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,877 INFO sqlalchemy.engine.base.Engine ('2019-09-20', 4998, 601, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,879 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,883 INFO sqlalchemy.engine.base.Engine ('2019-09-21', 5001, 601, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,884 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,888 INFO sqlalchemy.engine.base.Engine ('2019-09-22', 5004, 603, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,889 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,892 INFO sqlalchemy.engine.base.Engine ('2019-09-23', 5005, 605, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,895 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,899 INFO sqlalchemy.engine.base.Engine ('2019-09-24', 5012, 605, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,900 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,904 INFO sqlalchemy.engine.base.Engine ('2019-09-25', 5023, 609, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,905 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,905 INFO sqlalchemy.engine.base.Engine ('2019-09-26', 5033, 609, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,908 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,909 INFO sqlalchemy.engine.base.Engine ('2019-09-27', 5068, 612, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,911 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,915 INFO sqlalchemy.engine.base.Engine ('2019-09-28', 5084, 613, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,916 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,916 INFO sqlalchemy.engine.base.Engine ('2019-09-29', 5088, 614, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,919 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,923 INFO sqlalchemy.engine.base.Engine ('2019-09-30', 5097, 615, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,925 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,929 INFO sqlalchemy.engine.base.Engine ('2019-10-01', 5113, 617, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,929 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,930 INFO sqlalchemy.engine.base.Engine ('2019-10-02', 5117, 618, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,931 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,931 INFO sqlalchemy.engine.base.Engine ('2019-10-03', 5120, 620, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,932 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,932 INFO sqlalchemy.engine.base.Engine ('2019-10-04', 5128, 622, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,933 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,934 INFO sqlalchemy.engine.base.Engine ('2019-10-05', 5133, 624, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,936 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,940 INFO sqlalchemy.engine.base.Engine ('2019-10-06', 5137, 628, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,943 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,944 INFO sqlalchemy.engine.base.Engine ('2019-10-07', 5144, 630, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,945 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,945 INFO sqlalchemy.engine.base.Engine ('2019-10-08', 5160, 633, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,946 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,947 INFO sqlalchemy.engine.base.Engine ('2019-10-09', 5166, 637, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,948 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,948 INFO sqlalchemy.engine.base.Engine ('2019-10-10', 5167, 639, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,949 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,950 INFO sqlalchemy.engine.base.Engine ('2019-10-11', 5168, 641, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,951 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,951 INFO sqlalchemy.engine.base.Engine ('2019-10-12', 5169, 644, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,953 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,953 INFO sqlalchemy.engine.base.Engine ('2019-10-13', 5170, 646, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,954 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,955 INFO sqlalchemy.engine.base.Engine ('2019-10-14', 5170, 649, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,956 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,957 INFO sqlalchemy.engine.base.Engine ('2019-10-15', 5179, 651, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,958 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,958 INFO sqlalchemy.engine.base.Engine ('2019-10-16', 5185, 651, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,959 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,959 INFO sqlalchemy.engine.base.Engine ('2019-10-17', 5187, 652, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,960 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,961 INFO sqlalchemy.engine.base.Engine ('2019-10-18', 5189, 653, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,962 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,962 INFO sqlalchemy.engine.base.Engine ('2019-10-19', 5191, 654, '2020-03-11 16:38:13.843948')

2020-03-11 16:49:47,963 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,964 INFO sqlalchemy.engine.base.Engine ('2019-10-20', 5193, 655, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,964 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,965 INFO sqlalchemy.engine.base.Engine ('2019-10-21', 5194, 656, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,966 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,966 INFO sqlalchemy.engine.base.Engine ('2019-10-22', 5197, 658, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,967 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,968 INFO sqlalchemy.engine.base.Engine ('2019-10-23', 5210, 659, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,969 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,969 INFO sqlalchemy.engine.base.Engine ('2019-10-24', 5223, 663, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,970 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,971 INFO sqlalchemy.engine.base.Engine ('2019-10-25', 5232, 663, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,972 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,972 INFO sqlalchemy.engine.base.Engine ('2019-10-26', 5233, 664, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,973 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,974 INFO sqlalchemy.engine.base.Engine ('2019-10-27', 5234, 665, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,974 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,975 INFO sqlalchemy.engine.base.Engine ('2019-10-28', 5236, 666, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,975 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,976 INFO sqlalchemy.engine.base.Engine ('2019-10-29', 5240, 670, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,976 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,977 INFO sqlalchemy.engine.base.Engine ('2019-10-30', 5242, 671, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,978 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,978 INFO sqlalchemy.engine.base.Engine ('2019-10-31', 5243, 671, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,979 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,979 INFO sqlalchemy.engine.base.Engine ('2019-11-01', 5244, 674, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,980 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,981 INFO sqlalchemy.engine.base.Engine ('2019-11-02', 5246, 674, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,982 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,983 INFO sqlalchemy.engine.base.Engine ('2019-11-03', 5246, 676, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,984 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,984 INFO sqlalchemy.engine.base.Engine ('2019-11-04', 5247, 676, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,985 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,986 INFO sqlalchemy.engine.base.Engine ('2019-11-06', 5269, 679, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,987 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,988 INFO sqlalchemy.engine.base.Engine ('2019-11-07', 5284, 681, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,989 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,989 INFO sqlalchemy.engine.base.Engine ('2019-11-08', 5298, 683, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,990 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,991 INFO sqlalchemy.engine.base.Engine ('2019-11-09', 5307, 684, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,992 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,992 INFO sqlalchemy.engine.base.Engine ('2019-11-10', 5313, 687, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,993 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,994 INFO sqlalchemy.engine.base.Engine ('2019-11-11', 5314, 687, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,994 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,995 INFO sqlalchemy.engine.base.Engine ('2019-11-12', 5314, 688, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,995 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,996 INFO sqlalchemy.engine.base.Engine ('2019-11-13', 5316, 689, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,997 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,997 INFO sqlalchemy.engine.base.Engine ('2019-11-14', 5326, 691, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,998 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:47,999 INFO sqlalchemy.engine.base.Engine ('2019-11-15', 5337, 691, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:47,999 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,000 INFO sqlalchemy.engine.base.Engine ('2019-11-16', 5338, 692, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,001 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,002 INFO sqlalchemy.engine.base.Engine ('2019-11-17', 5342, 692, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,003 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,004 INFO sqlalchemy.engine.base.Engine ('2019-11-18', 5343, 695, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,006 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,006 INFO sqlalchemy.engine.base.Engine ('2019-11-19', 5347, 697, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,007 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,008 INFO sqlalchemy.engine.base.Engine ('2019-11-20', 5348, 697, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,009 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,010 INFO sqlalchemy.engine.base.Engine ('2019-11-21', 5351, 700, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,010 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,011 INFO sqlalchemy.engine.base.Engine ('2019-11-22', 5356, 700, '2020-03-11 16:38:13.843948')

2020-03-11 16:49:48,012 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,013 INFO sqlalchemy.engine.base.Engine ('2019-11-23', 5383, 700, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,014 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,014 INFO sqlalchemy.engine.base.Engine ('2019-11-24', 5409, 704, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,015 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,016 INFO sqlalchemy.engine.base.Engine ('2019-11-25', 5435, 709, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,017 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,017 INFO sqlalchemy.engine.base.Engine ('2019-11-26', 5450, 714, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,018 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,019 INFO sqlalchemy.engine.base.Engine ('2019-11-27', 5479, 714, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,020 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,021 INFO sqlalchemy.engine.base.Engine ('2019-11-28', 5503, 715, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,022 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,023 INFO sqlalchemy.engine.base.Engine ('2019-11-29', 5554, 716, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,024 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,025 INFO sqlalchemy.engine.base.Engine ('2019-11-30', 5643, 718, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,025 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,026 INFO sqlalchemy.engine.base.Engine ('2019-12-01', 5652, 720, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,027 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,027 INFO sqlalchemy.engine.base.Engine ('2019-12-02', 5654, 723, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,028 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,028 INFO sqlalchemy.engine.base.Engine ('2019-12-03', 5678, 723, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,029 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,030 INFO sqlalchemy.engine.base.Engine ('2019-12-04', 5706, 723, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,031 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,031 INFO sqlalchemy.engine.base.Engine ('2019-12-05', 5747, 726, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,032 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,032 INFO sqlalchemy.engine.base.Engine ('2019-12-06', 5802, 728, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,033 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,034 INFO sqlalchemy.engine.base.Engine ('2019-12-07', 5807, 728, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,035 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,035 INFO sqlalchemy.engine.base.Engine ('2019-12-08', 5811, 732, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,036 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,037 INFO sqlalchemy.engine.base.Engine ('2019-12-09', 5811, 732, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,038 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,038 INFO sqlalchemy.engine.base.Engine ('2019-12-10', 5813, 735, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,039 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,040 INFO sqlalchemy.engine.base.Engine ('2019-12-11', 5819, 735, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,040 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,041 INFO sqlalchemy.engine.base.Engine ('2019-12-12', 5825, 737, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,042 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,042 INFO sqlalchemy.engine.base.Engine ('2019-12-13', 5830, 739, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,043 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,043 INFO sqlalchemy.engine.base.Engine ('2019-12-14', 5833, 739, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,044 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,045 INFO sqlalchemy.engine.base.Engine ('2019-12-15', 5837, 740, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,045 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,046 INFO sqlalchemy.engine.base.Engine ('2019-12-16', 5839, 742, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,047 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,047 INFO sqlalchemy.engine.base.Engine ('2019-12-17', 5840, 744, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,048 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,048 INFO sqlalchemy.engine.base.Engine ('2019-12-18', 5846, 745, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,049 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,049 INFO sqlalchemy.engine.base.Engine ('2019-12-19', 5847, 745, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,050 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,051 INFO sqlalchemy.engine.base.Engine ('2019-12-20', 5849, 746, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,052 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,053 INFO sqlalchemy.engine.base.Engine ('2019-12-21', 5850, 746, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,054 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,055 INFO sqlalchemy.engine.base.Engine ('2019-12-22', 5852, 746, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,056 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,056 INFO sqlalchemy.engine.base.Engine ('2019-12-23', 5870, 747, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,057 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,058 INFO sqlalchemy.engine.base.Engine ('2019-12-24', 5878, 748, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,059 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,059 INFO sqlalchemy.engine.base.Engine ('2019-12-25', 5888, 748, '2020-03-11 16:38:13.843948')

2020-03-11 16:49:48,060 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,060 INFO sqlalchemy.engine.base.Engine ('2019-12-26', 5906, 749, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,061 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,062 INFO sqlalchemy.engine.base.Engine ('2019-12-27', 5927, 749, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,062 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,063 INFO sqlalchemy.engine.base.Engine ('2019-12-28', 5930, 749, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,064 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,064 INFO sqlalchemy.engine.base.Engine ('2019-12-29', 5933, 750, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,065 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,065 INFO sqlalchemy.engine.base.Engine ('2019-12-30', 5936, 752, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,066 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,067 INFO sqlalchemy.engine.base.Engine ('2019-12-31', 5937, 753, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,068 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,069 INFO sqlalchemy.engine.base.Engine ('2020-01-01', 5964, 760, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,070 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,070 INFO sqlalchemy.engine.base.Engine ('2020-01-02', 5989, 764, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,071 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,072 INFO sqlalchemy.engine.base.Engine ('2020-01-03', 5999, 768, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,072 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,073 INFO sqlalchemy.engine.base.Engine ('2020-01-04', 6011, 768, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,073 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,074 INFO sqlalchemy.engine.base.Engine ('2020-01-05', 6023, 771, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,074 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,075 INFO sqlalchemy.engine.base.Engine ('2020-01-06', 6042, 772, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,076 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,076 INFO sqlalchemy.engine.base.Engine ('2020-01-07', 6060, 776, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,077 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,077 INFO sqlalchemy.engine.base.Engine ('2020-01-08', 6089, 778, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,078 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,078 INFO sqlalchemy.engine.base.Engine ('2020-01-09', 6121, 780, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,079 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,080 INFO sqlalchemy.engine.base.Engine ('2020-01-10', 6174, 781, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,080 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,081 INFO sqlalchemy.engine.base.Engine ('2020-01-11', 6178, 782, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,081 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,082 INFO sqlalchemy.engine.base.Engine ('2020-01-12', 6182, 784, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,083 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,083 INFO sqlalchemy.engine.base.Engine ('2020-01-13', 6188, 784, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,085 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,085 INFO sqlalchemy.engine.base.Engine ('2020-01-14', 6191, 788, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,086 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,087 INFO sqlalchemy.engine.base.Engine ('2020-01-15', 6193, 792, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,088 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,089 INFO sqlalchemy.engine.base.Engine ('2020-01-16', 6196, 793, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,090 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,090 INFO sqlalchemy.engine.base.Engine ('2020-01-17', 6201, 793, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,091 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,092 INFO sqlalchemy.engine.base.Engine ('2020-01-18', 6200, 795, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,093 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,094 INFO sqlalchemy.engine.base.Engine ('2020-01-19', 6204, 797, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,095 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,095 INFO sqlalchemy.engine.base.Engine ('2020-01-20', 6206, 801, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,096 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,097 INFO sqlalchemy.engine.base.Engine ('2020-01-21', 6212, 803, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,098 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,098 INFO sqlalchemy.engine.base.Engine ('2020-01-22', 6213, 806, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,099 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,100 INFO sqlalchemy.engine.base.Engine ('2020-01-23', 6215, 808, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,101 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,101 INFO sqlalchemy.engine.base.Engine ('2020-01-24', 6219, 808, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,103 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,104 INFO sqlalchemy.engine.base.Engine ('2020-01-25', 6222, 811, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,105 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,105 INFO sqlalchemy.engine.base.Engine ('2020-01-26', 6223, 811, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,106 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,107 INFO sqlalchemy.engine.base.Engine ('2020-01-27', 6224, 811, '2020-03-11 16:38:13.843948')

2020-03-11 16:49:48,108 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,109 INFO sqlalchemy.engine.base.Engine ('2020-01-28', 6229, 812, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,110 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,111 INFO sqlalchemy.engine.base.Engine ('2020-01-29', 6248, 812, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,111 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,112 INFO sqlalchemy.engine.base.Engine ('2020-01-30', 6281, 813, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,113 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,113 INFO sqlalchemy.engine.base.Engine ('2020-01-31', 6286, 816, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,114 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,115 INFO sqlalchemy.engine.base.Engine ('2020-02-01', 6291, 820, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,115 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,116 INFO sqlalchemy.engine.base.Engine ('2020-02-02', 6294, 820, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,116 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,117 INFO sqlalchemy.engine.base.Engine ('2020-02-03', 6299, 820, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,119 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,120 INFO sqlalchemy.engine.base.Engine ('2020-02-04', 6310, 821, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,121 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,122 INFO sqlalchemy.engine.base.Engine ('2020-02-05', 6319, 824, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,123 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,124 INFO sqlalchemy.engine.base.Engine ('2020-02-06', 6337, 827, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,125 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,126 INFO sqlalchemy.engine.base.Engine ('2020-02-07', 6352, 829, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,127 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,127 INFO sqlalchemy.engine.base.Engine ('2020-02-08', 6353, 833, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,128 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,129 INFO sqlalchemy.engine.base.Engine ('2020-02-09', 6356, 834, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,130 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,131 INFO sqlalchemy.engine.base.Engine ('2020-02-10', 6359, 836, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,132 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,132 INFO sqlalchemy.engine.base.Engine ('2020-02-11', 6361, 843, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,133 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,134 INFO sqlalchemy.engine.base.Engine ('2020-02-12', 6366, 845, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,136 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,136 INFO sqlalchemy.engine.base.Engine ('2020-02-13', 6370, 848, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,137 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,138 INFO sqlalchemy.engine.base.Engine ('2020-02-14', 6387, 852, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,139 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,141 INFO sqlalchemy.engine.base.Engine ('2020-02-15', 6399, 854, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,142 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,143 INFO sqlalchemy.engine.base.Engine ('2020-02-16', 6399, 854, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,144 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,145 INFO sqlalchemy.engine.base.Engine ('2020-02-17', 6407, 857, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,145 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,146 INFO sqlalchemy.engine.base.Engine ('2020-02-18', 6411, 860, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,147 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,148 INFO sqlalchemy.engine.base.Engine ('2020-02-19', 6412, 861, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,149 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,149 INFO sqlalchemy.engine.base.Engine ('2020-02-20', 6413, 861, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,151 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,152 INFO sqlalchemy.engine.base.Engine ('2020-02-21', 6428, 862, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,153 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,154 INFO sqlalchemy.engine.base.Engine ('2020-02-22', 6436, 862, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,155 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,156 INFO sqlalchemy.engine.base.Engine ('2020-02-23', 6439, 867, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,157 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,158 INFO sqlalchemy.engine.base.Engine ('2020-02-24', 6442, 868, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,159 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,159 INFO sqlalchemy.engine.base.Engine ('2020-02-25', 6455, 869, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,160 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,161 INFO sqlalchemy.engine.base.Engine ('2020-02-26', 6460, 871, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,162 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,162 INFO sqlalchemy.engine.base.Engine ('2020-02-27', 6470, 872, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,163 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,164 INFO sqlalchemy.engine.base.Engine ('2020-02-28', 6482, 873, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,165 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,166 INFO sqlalchemy.engine.base.Engine ('2020-02-29', 6495, 876, '2020-03-11 16:38:13.843948')

2020-03-11 16:49:48,167 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,168 INFO sqlalchemy.engine.base.Engine ('2020-03-01', 6500, 876, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,170 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,170 INFO sqlalchemy.engine.base.Engine ('2020-03-02', 6504, 878, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,171 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,172 INFO sqlalchemy.engine.base.Engine ('2020-03-03', 6510, 885, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,174 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,174 INFO sqlalchemy.engine.base.Engine ('2020-03-03', 6515, 890, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,176 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,176 INFO sqlalchemy.engine.base.Engine ('2020-03-03', 6515, 890, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,177 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,178 INFO sqlalchemy.engine.base.Engine ('2020-03-03', 6515, 890, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,179 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-03-11 16:49:48,179 INFO sqlalchemy.engine.base.Engine ('2020-03-04', 6522, 890, '2020-03-11 16:38:13.843948')
2020-03-11 16:49:48,192 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
def read_data():
    from assets import models
    df = pd.read_csv('assets/data.csv')
    for index,_df in df.iterrows():
        date = datetime.datetime.strptime(_df['date'],'%Y/%m/%d').date()
        row = models.Data(date=date, subscribers=_df['subscribers'], reviews=_df['reviews'])
        db_session.add(row)
    db_session.commit()